{% include 'partials/jsonld.twig' %}

<div class="content w-100 w-70-l center pv3 ph4-l pt0-l lh-copy f5 fw3">

	<article>

		<header>
			<h1>{{ title|e }}</h1>
		</header>

		{{ content }}

	</article>

	{% if theme.homenav %}

		{% include 'partials/homenav.twig' %}
		
	{% endif %}	

</div>
